body {
  margin: 0;
  padding: 0; }

.wrapper-1 {
  max-width: 100%;
  background-image: url(/images/1.jpg);
  background-size: cover; }

#wrapper-header {
  width: 1400px;
  position: relative; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.logo a {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-top: 30px;
  margin-left: 200px;
  padding: 24px 22px 24px 22px;
  letter-spacing: 5px; }

.menu-hamburguesa a {
  float: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  margin-top: 60px;
  margin-right: 25px; }

.titulo-principal p {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: white; }

.titulo-principal {
  margin-left: auto;
  max-width: 750px; }

.titulo-smile {
  text-transform: uppercase;
  padding-top: 295px;
  font-size: 11.5rem; }

.titulo-descripcion {
  font-size: 5.1875rem; }

.slider-target {
  text-align: center; }

.slider-target p {
  margin-left: 240px;
  margin-top: 240px;
  font-size: 100px; }

.slider-target p {
  color: black; }

.slider-target em {
  color: white; }

.wrapper-ctn-1 {
  max-width: 100%;
  background-color: white;
  border: 1px solid red; }

#content-1 {
  width: 1400px;
  text-align: center;
  margin: 0 auto; }

.text-cont-1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  position: relative; }

.text-cont-1 h2 {
  font-weight: lighter;
  line-height: 30px;
  font-size: 50px; }

.text-cont-1 p {
  line-height: 10px; }

.line-black::after {
  content: "";
  position: absolute;
  left: 655px;
  top: 220px;
  height: 2%;
  width: 4.5%;
  font-weight: bold;
  background-color: black; }

.text-1-cont-2 {
  text-align: center;
  width: 900px;
  margin: 100px 200px 100px 245px;
  text-justify: newspaper;
  text-align: center; }

.wrapper-ctn-2 {
  max-width: 100%; }

.content-2 {
  width: 800px;
  background-color: #ffe9e2; }

.text-cont-2 p {
  font-size: 20px;
  font-weight: bold;
  padding-top: 140px;
  margin-left: 100px;
  margin-top: 0; }

.text-cont-2 h3 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: 70px;
  margin-bottom: 60px; }

.text-cont-2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px; }

.point-ctn-2 {
  font-size: 80px;
  margin-left: 100px;
  padding-bottom: 140px; }

.point-ctn-2 em {
  color: grey; }

.point-ctn-2 p {
  margin: 0 auto; }

.img-cont-2 {
  float: right;
  width: 800px; }

.wrapper-ctn-3 {
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto; }

.content-3 {
  width: 1400px;
  margin: 0 auto; }

.content-3 h2 {
  margin: 0 auto;
  font-weight: bold;
  padding: 135px 0 0 100px;
  position: relative; }

.line-h2::after {
  content: "";
  position: absolute;
  left: 100px;
  top: 175px;
  height: 2%;
  width: 2.5%;
  font-weight: bold;
  background-color: black; }

.colum-one {
  width: 700px;
  float: left; }

.colums-text {
  width: 550px;
  padding: 100px 0 0 100px; }

.colums-text h4 {
  margin: auto;
  text-transform: uppercase; }

.p-1 {
  margin: 0 auto;
  padding-top: 45px;
  font-size: 20px;
  font-weight: medium; }

.em-1 {
  padding-top: 45px;
  color: grey;
  margin: 0 auto; }

.p-2 {
  margin: 0 auto;
  padding-top: 45px;
  font-size: 20px;
  font-weight: medium; }

.em-2 {
  padding-top: 45px;
  color: grey;
  margin: 0 auto; }

.colum-two {
  width: 700px;
  float: right; }

.p-3 {
  margin: 0 auto;
  padding-top: 45px;
  font-size: 20px;
  font-weight: medium; }

.em-3 {
  padding-top: 15px;
  color: grey;
  margin: 0 auto; }

.p-4 {
  margin: 0 auto;
  padding-top: 45px;
  font-size: 20px;
  font-weight: medium; }

.em-4 {
  padding-top: 45px;
  color: grey;
  margin: 0 auto; }

.more-reason-btn {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 140px; }

.more-reason-btn a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px 35px 20px 35px;
  color: black;
  border: 2px solid black;
  border-radius: 5px; }

.wrapper-manos {
  max-width: 100%;
  background-size: cover;
  background-image: url(/images/3.jpg); }

.banner-manos {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 815px;
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 170px; }

.banner-manos h2 {
  color: white;
  font-size: 60px; }

.banner-manos p {
  color: white;
  font-weight: lighter;
  font-size: 20px; }

.banner-manos a {
  color: white; }
