.footer {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 90px; }

.footer-1 {
  max-width: 100%;
  margin-left: 100px;
  margin-right: 100px; }

.nav-footer {
  width: 115px;
  margin-right: 170px;
  float: left; }

.nav-footer p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: black; }

.nav-footer ul {
  margin: 0;
  padding: 0; }

.nav-footer li, a {
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  font-weight: normal;
  list-style: none; }

.footer-list {
  padding: 0; }

.contact-footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 250px;
  font-size: 1.25rem;
  line-height: 1.562rem;
  margin-right: 100px;
  float: left; }

.upper-contact {
  text-transform: uppercase; }

.contact-info p {
  font-size: 1rem; }

.contact-info-2 p {
  font-size: 1rem; }

.nav-contact {
  width: 160px;
  float: left; }

.nav-contact p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: black; }

.suscribe-form label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  width: 300px; }

.suscribe-form input {
  background-color: #d3d5d6;
  border: none;
  width: 300px;
  padding: 10px; }

.suscribe-form button {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  padding: 12px 25px;
  border: 2px solid black;
  border-radius: 5px; }

.wrapper-footer-2 {
  background-color: #f2f4f5;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }

.footer-2 {
  max-width: 100%;
  width: 1400px; }

.copyrights {
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 100px;
  float: left; }

.social-media {
  margin: 0 auto;
  padding: 0;
  float: right; }

.list-icons li {
  padding-bottom: 40px;
  padding-top: 40px;
  float: left;
  list-style: none; }

.list-icons a {
  display: block; }

.list-icons li + li {
  margin-left: 20px; }
