//Contenido 1

//Wrapper de Contenido 1
.wrapper-ctn-1{
  max-width: 100%;
  width: 100%;
  background-color: white;
}

#content-1{
  width: 1400px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.text-cont-1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  position: relative;
}

.text-cont-1 h2{
  font-weight: lighter;
  line-height: 1.875rem;
  font-size: 3.125rem;
}

.text-cont-1 p{
  line-height: 0.625rem;
}

//Linea de abajo

.line-black::after{
  content: "";
  position: absolute;
  left: 46%;
  top: 120%;
  height: 2%;
  width: 4.5%;
  font-weight: bold;
  background-color: black;
}

.text-1-cont-2{
  text-align: center;
  width: 64%;
  margin: 7% 14% 7% 17%;
  text-align: center;
}

