// Contenido - 2

//Wrapper del segundo contenido!

.wrapper-ctn-2{
  max-width: 100%;

}

.content-2{
  width: 800px;
  background-color: #ffe9e2;
}

.text-cont-2 p{
  font-size: 20px;
  font-weight: bold;
  padding-top: 140px;
  margin-left: 100px;
  margin-top: 0;
}

.text-cont-2 h3{
  font-weight: lighter;
  margin-left: 100px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.text-cont-2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px;
}

.point-ctn-2{
  font-size: 80px;
  margin-left: 100px;
  padding-bottom: 144px;
}

//Puntos del carrucel

.point-ctn-2 em{
  color: grey;
}


.point-ctn-2 p{
  margin: 0 auto;
}

//Imagen de banner

.img-cont-2{
  float: right;
  width: 800px;
}


