
//Header

.logo a{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-top: 30px;
  margin-left: 200px;
  padding: 24px 22px 24px 22px ;
  letter-spacing: 0.312rem;
}

.menu-hamburguesa a{
  float: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  margin-top: 60px;
  margin-right: 25px;
}

//Imagen Header

.wrapper-1{
  background-image: url(/images/1.jpg);
  background-size: cover;
  max-width: 100%;
  width: 100%;
}

#wrapper-header{
  width: 1440px;
  max-width: 100%;
  position: relative;
}

//Texto del Header

.titulo-principal p{
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: white;
  padding-right: 90px;
}

.titulo-principal{
  margin-left: auto;
  max-width: 53%;
}

.titulo-smile{
  text-transform: uppercase;
  padding-top: 21%;
  font-size: 11.5rem;
}

.titulo-descripcion{
  font-size: 5.1875rem;
}

//Slider target

.slider-target{
  text-align: center;
}

.slider-target p{
  margin-left: 17%;
  margin-top: 17%;
  font-size: 6.25rem;
}

.slider-target p{
  color: black;
}

.slider-target em{
  color: white;
}

